<div class="pagination">
  <%= will_paginate @places %>
</div>

<% @places.each do |place| %>
  <div class="frosted-box col-10 offset-1">
    <h1><%= link_to place.name, place_path(place) %></h1>
    <i><%= place.address %></i><br/><br/>
    <p><%= place.description %></p><br/>

    <% if place.user.present? %>
      <small><%= place.user.email %></small>
    <% end %>
  
  <% if place.comments.present? %>
    <div class="col-12">
      <% if place.comments.last.humanized_rating.present? %>
        <br />
        <% place.comments.last.rating.to_i.times do%>
          <i class="fa fa-star" aria-hidden="true"></i>
        <%end%>
        <% if place.comments.last.rating.to_i < 5 %>
          <% (5-place.comments.last.rating.to_i).times do %>
            <i class="fa fa-star-o" aria-hidden="true"></i>
          <% end %>
        <% end %>
      <% end %>
  
      <blockquote>
        <%= place.comments.last.message %><br />
        <small>Reviewer: <%= place.comments.last.user.email %></small>
      </blockquote>
      </div>
    <% end %>
  </div>
<% end %>

<div class="pagination">
  <%= will_paginate @places %>
</div>
