<div class="pagination">
  <%= will_paginate @places %>
</div>

<div id="carouselExampleIndicators" class="carousel slide col-10 offset-1" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner" role="listbox">
    <div class="carousel-item active">
      <%= image_tag("slider01.jpg", height: "100%", width: "100%") %>
      <div class="carousel-caption d-none d-md-block">
        <h3>Find the best food in every corner of the world.</h3>
      </div>
    </div>
    <div class="carousel-item">
      <%= image_tag("slider02.jpg", height: "100%", width: "100%") %>
      <div class="carousel-caption d-none d-md-block">
        <h3>Find the best food in every corner of the world.</h3>
      </div>
    </div>
    <div class="carousel-item">
      <%= image_tag("slider03.jpg", height: "100%", width: "100%") %>
      <div class="carousel-caption d-none d-md-block">
        <h3>Find the best food in every corner of the world.</h3>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<% @places.each do |place| %>
  <div class="frosted-box col-10 offset-1">
    <h1><%= link_to place.name, place_path(place) %></h1>
    <i><%= place.address %></i><br /><br />
    
    <% photo = place.photos.first %>
    <% if photo %> 
      <%= image_tag(photo.picture, height: "75%", width: "100%") %>
      <br />
    <% end %>    

    <p><%= place.description %></p><br/>

    <% if place.user.present? %>
      <small><%= place.user.email %></small>
    <% end %>
  
  <% if place.comments.present? %>
    <div class="col-12">
      <% if place.comments.last.humanized_rating.present? %>
        <br />
        <% place.comments.last.rating.to_i.times do%>
          <i class="fa fa-star" aria-hidden="true"></i>
        <%end%>
        <% if place.comments.last.rating.to_i < 5 %>
          <% (5-place.comments.last.rating.to_i).times do %>
            <i class="fa fa-star-o" aria-hidden="true"></i>
          <% end %>
        <% end %>
      <% end %>
  
      <blockquote>
        <%= place.comments.last.message %><br />
        <small>Reviewer: <%= place.comments.last.user.email %></small>
      </blockquote>
      </div>
    <% end %>
  </div>
<% end %>

<div class="pagination">
  <%= will_paginate @places %>
</div>
