<div class="frosted-box col-10 offset-1">
  <h1>Enter Your Place Details</h1>
  <%= simple_form_for @place do |f| %>
    <%= f.input :name %>
    <%= f.input :address %>
    <%= f.input :description %>
    <br />
    <%= f.submit 'Create', class: 'btn btn-primary' %>
  <% end %>
</div>

def humanized_rating()
  rating =  RATINGS.invert[self.rating].to_i
  output = []
  rating.times do 
    output.push('<i class="fa fa-star" aria-hidden="true"></i>')
  end
  if rating < 5
    (5-rating).times do
        output.push('<i class="fa fa-star-o" aria-hidden="true"></i>')
      end
  end
    output.join("")
end